.areas {
    padding-top: 2rem;
    width: 100%;
}

.areas-title {
    font-weight: 600;
    font-size: 54px;
    line-height: 77.23px;
    text-align: center;
}

.areas-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.collection {
    position: relative;
}

.overlay {
    position: absolute;
    width: 852px;
    height: 342px;
    object-fit: cover;
    border-radius: 14px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.7) 100%);
}

.collection img {
    width: 852px;
    height: 342px;
    object-fit: cover;
    border-radius: 14px;
}

.collection p {
    width: 100%;
    position: absolute;
    bottom: 41px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #fffbf2;
    text-transform: uppercase;
}

.collection1 {
    position: relative;
}

.overlay1 {
    position: absolute;
    width: 380px;
    height: 342px;
    object-fit: cover;
    border-radius: 14px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.7) 100%);
}

.collection1 img {
    width: 380px;
    height: 342px;
    object-fit: cover;
    border-radius: 14px;
}

.collection1 p {
    width: 100%;
    position: absolute;
    bottom: 32px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #fffbf2;
    text-transform: uppercase;
}

@media all and (max-width : 1060px) {
    .areas-img {
        justify-content: center;
        align-items: center;
    }

    .overlay {
        width: 100%;
    }

    .collection img {
        width: 100%;
    }

    .overlay1 {
        width: 100%;
    }

    .collection1 img {
        width: 100%;
    }
}