@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  background-color: #111111;
  color: #ffffff;
  --gray: #ffffff4d;
  --dark: #ffffff33;
  --white: #ffffff;
  --black: #000000;
  --yellow: #E3B748;
  --icon: #FDD65B;
  --input: #818181;
  --hr: #d9d9d90d;
}